<div>
  <div style="float: left; width: 50%;">
    <div>
      <h3></h3>
    </div>
    <div>
      <input type="search" placeholder="search" [(ngModel)]="textoBuscar">
      <button (click)="BuscarMiembro()">Buscar</button>
    </div>
    <div>
      <table>
        <tr>
          <th>Miembros</th>
        </tr>
        <tr *ngFor="let miembro of miembros">
          <td>
            <a [routerLink]="['/Usuario','miembros',comunidad.id,'avatar',miembro.id]">
              <label>{{miembro.username}}</label>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div style="float: right; width: 40%">
    <router-outlet></router-outlet>
  </div>
</div>
