<div>
  <div>
    <img [src]="'/assets/imagenes/logo.PNG'">
  </div>
  <div>
    <h3>Forget Password :(</h3>
  </div>
  <div>
    <form #formularioforget="ngForm"
          novalidate
          (submit)="forgetPassword(formularioforget)">
      <div>
        <input id="correo" type="email" required name="correo"
               placeholder="correo electronico"
               [(ngModel)]="email" #inputUsername="ngModel"
        >
      </div>

      <button [disabled]="formularioforget.invalid">
          Enviar contrasena
        </button>
    </form>
  </div>
  <div>
    <a routerLink="/login/registrar">
      <button>Registrarse</button>
    </a>
  </div>
  <div>
    <img style="width: 40px;height: 40px" [src]="'/assets/imagenes/reemplazar.png'">
    <img style="width: 40px;height: 40px" [src]="'/assets/imagenes/reemplazar.png'">
  </div>
</div>
