<div>
  <div style="width: 100%; height: 300px">
    <div style="width: 30%; float: left" class="col-sm">
      <div class="col-sm-16">
      <div class="input-group mb-3">
        <input type="search" placeholder="search" class="form-control" [(ngModel)]="textBuscar">
        <button (click)="Buscar()" class="btn btn-dark">Buscar</button>
      </div>
      </div>
      <div>
        <table>
          <tr>
            <th>Comunidades</th>
          </tr>
          <tr *ngFor="let comunidad of comunidadesUsuario">
            <td>
              <a [routerLink]="['/Usuario','comunidades','chat',comunidad.id]">
                <label>{{comunidad.nombreComunidad}}</label>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div style="width: 65%; float: right">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div>
    <br>
  </div>
  <div style="width: 100%">
    <div style="float: left; width: 60%">
      <div class="col-sm-7">
        <div class="input-group mb-3">
          <input type="search" placeholder="search" class="form-control" [(ngModel)]="textoBuscarComunidad">
          <button (click)="BuscarComunidadesNoUser()" class="btn btn-dark">Buscar</button>
        </div>
        <div>
          <table>
            <tr>
              <th>Comunidades </th>
              <th>Accion</th>
            </tr>
            <tr *ngFor="let comunidad of comunidadesNoUsuario">
              <td>
                {{comunidad.nombreComunidad}}
              </td>
              <td>
                <button (click)="UnirseCounidad(comunidad.id)" class="btn btn-primary">Unirse</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div style="float: right; width: 36%">
      <div>
        <div class="col-sm">
          <h4>Crear Comunidad</h4>
        </div>
        <form #formularioCrear="ngForm"
              novalidate
              (submit)="crearComunidad(formularioCrear)">
          <div class="col-sm">
            <input id="nuevaComunidad" type="text" required name="nuevComunidad"
                   placeholder="Nombre de la comunidad" class="form-control"
                   [(ngModel)]="nombreCOmunidadNueva" #inputComunidad="ngModel">
            <div  style="color: red; font-size: 12px;" *ngIf="inputComunidad.errors">
              *
            </div>
          </div>
          <div class="col-sm">
            <button [disabled]="formularioCrear.invalid" class="btn btn-primary">
              Crear Comunidad
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
