<div style="width: 90%; padding-bottom: 30px">
  <div style="float: left">
    <h2>Bienvenido Administrador</h2>
  </div>
  <div style="float: right">
    <button>Log Out</button>
  </div>
</div>
<div style="width: 100%">
  <br>
  <br>
</div>
<div>
  <ul>
    <li> <a routerLink="usuarios"> Usuario </a> </li>
    <li> <a routerLink="gestionAccesorio"> Accesorio </a> </li>
    <li> <a routerLink="gestionCabello"> Cabello </a> </li>
    <li> <a routerLink="gestionVestimenta"> Vestimenta </a> </li>
    <li> <a routerLink="gestionRostro"> Rostro </a> </li>
    <li> <a routerLink="gestionDepartamentos"> Departamento </a> </li>
    <li> <a routerLink="gestionComunidad"> Comunidad </a> </li>
    <li> <a routerLink="acceso-consumidor"> Codigo de Acceso </a> </li>
  </ul>
</div>
<div style="padding-top: 20px">
  <router-outlet></router-outlet>
</div>
