<div style="width: 90%; padding-bottom: 30px">
  <div style="float: left">
    <h2>Bienvenido Administrador</h2>
  </div>
  <div style="float: right">
    <button>Log Out</button>
  </div>
</div>
<div style="width: 100%">
  <br>
  <br>
</div>
<div>
  <ul>
    <li> <a routerLink=""> Accesorio </a> </li>
    <li> <a routerLink=""> Cabello </a> </li>
    <li> <a routerLink=""> Vestimenta </a> </li>
    <li> <a routerLink=""> Rostro </a> </li>
    <li> <a routerLink=""> Departamento </a> </li>
    <li> <a routerLink=""> Comunidad </a> </li>
    <li> <a routerLink=""> Codigo de Acceso </a> </li>
  </ul>
</div>
<div style="padding-top: 20px">
  <router-outlet></router-outlet>
</div>
