<div align='center'>
  <h1>REGISTRATE</h1>
</div>
<div class="container">
<div class="row">
<div class="col-sm">
  <form #formularioRegistrar="ngForm"
        novalidate
        (submit)="registrarse(formularioRegistrar)">
    <div>
      <input id="nombre" type="text" required name="nombre"
             placeholder="nombres" class="form-control"
             [(ngModel)]="persona.nombre" #inputnombre="ngModel">
      <div  style="color: red; font-size: 12px;" *ngIf="inputnombre.errors">
        *
      </div>
    </div>
    <div>
      <input id="apellido" type="text" required name="apellido"
             placeholder="apellido" class="form-control"
             [(ngModel)]="persona.apellido" #inputapellido="ngModel">
      <div  style="color: red; font-size: 12px;" *ngIf="inputapellido.errors">
        *
      </div>
    </div>
    <div>
      <input id="email" type="email" required name="email"
             placeholder="correo electronico" class="form-control"
             [(ngModel)]="persona.email" #inputemail="ngModel">
      <div  style="color: red; font-size: 12px;" *ngIf="inputemail.errors">
        *
      </div>
    </div>
    <div>
      <input id="nickname" type="text" required name="nickname"
             placeholder="nickname" class="form-control"
             [(ngModel)]="consumidor.username" #inputnickname="ngModel">
      <div  style="color: red; font-size: 12px;" *ngIf="inputnickname.errors">
        *
      </div>
    </div>
    <div>
      <input id="password1" type="password" required name="password1"
             placeholder="password" class="form-control"
             [(ngModel)]="consumidor.password" #inputpasswo="ngModel">
      <div  style="color: red; font-size: 12px;" *ngIf="inputpasswo.errors">
        *
      </div>
    </div>
    <div>
      <input type="date" required name="fechaNac" class="form-control"
             [(ngModel)]="consumidor.fechaNacimiento" #inputfecha="ngModel">
      <div  style="color: red; font-size: 12px;" *ngIf="inputfecha.errors">
        *
      </div>
    </div>
    <br>
    <div>
      <button [disabled]="formularioRegistrar.invalid" class="btn btn-primary">
        Registrarse
      </button>
    </div>
    <br>
    <div  style="color: red; font-size: 12px;" *ngIf="inputfecha.errors">
      <em>
        <mark>Todos los campos con "*" son obligatorio</mark>
      </em>
    </div>
  </form>
</div>
<div>
  <div>
    <img class="img-fluid" style="width: 40px;height: 40px" [src]="'/assets/imagenes/reemplazar.png'">
    <img style="width: 40px;height: 40px" [src]="'/assets/imagenes/reemplazar.png'">
  </div>
</div>
</div>
  <router-outlet></router-outlet>
</div>

<router-outlet></router-outlet>
