<div>
  <h3>Generar codigos de acceso</h3>
</div>
<div class="col-sm" align='center'>
  <button (click)="generarCodigo()" class="btn btn-success" >Generar Codigo</button>
</div>
<div class="col-sm" align='center'>
  <div id="codigoescaneado" *ngIf="codigo">
    <ngx-qrcode  qrc-element-type="canvas" [qrc-value]="codigo"></ngx-qrcode>
    <button (click)="guardarCodigo()" class="btn btn-outline-secondary" >Aceptar y descargar</button>
  </div>
</div>
<div>
  <div style="float: left; padding-right: 10px; width: 40%">
    <div>
      <h4>Usuario seleccionado {{idUsuarioSeleccion}}</h4>
    </div>
    <div>
      <table style="width: 80%" class="table">
        <thead class="table-info">
        <tr>
          <th>USUARIOS</th>
        </tr>
        <tr>
          <th>Identificador</th>
          <th>Username</th>
          <th>Accion</th>
        </tr>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.id}}</td>
          <td>{{usuario.username}}</td>
          <td>
            <button (click)="agregarUsuario(usuario.id)" >Seleccionar</button>
          </td>
        </tr>
        </thead>
      </table>
    </div>
  </div>
  <div style="float: right; padding-right: 10px; width: 50%">
    <div>
      <h4>usuario seleccionado {{idUsuarioSeleccion}}</h4>
    </div>
    <div class="col-sm">
      <table style="width: 80%" class="table">
        <thead class="table-info">
        <tr>
          <th>DEPARTAMENTOS DEL USUARIO</th>
        </tr>
        <tr>
          <th>Identificador</th>
          <th>Numero de departamento</th>
          <th>Piso ubicacion</th>
          <th>Accion</th>
        </tr>
        <tr *ngFor="let departamento of departamentos">
          <td>{{departamento.id}}</td>
          <td>{{departamento.numeroDepartamento}}</td>
          <td>{{departamento.pisoDepartamento}}</td>
          <td><button (click)="agregarDepartamento(departamento.id)">Seleccionar Depa</button></td>
        </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
