<div style="width: 90%; align-items: baseline">
  <div id="header" style="float: left">
    <div id="logo">
      <img id="div" [src]="'/assets/imagenes/logo.PNG'">
    </div>
  </div>
  <div id="headerRight" style="float: right; padding-right: 10px">
    <a routerLink="" style="padding-right: 7px">
      <img style="width: 36px;height: 36px" [src]="'/assets/imagenes/logousuario.png'">
    </a>
    <label style="padding-right: 10px">{{usuario.username}}</label>
    <a routerLink="" style="padding-right: 7px">
      <img style="width: 36px;height: 36px" [src]="'/assets/imagenes/avatar.png'">
    </a>
    <a routerLink="" style="padding-right: 7px">
      <img style="width: 36px;height: 36px" [src]="'/assets/imagenes/scan.png'">
    </a>
    <a routerLink="" style="padding-right: 7px">
      <img style="width: 36px;height: 36px" [src]="'/assets/imagenes/perfil.png'">
    </a>
    <a routerLink="" style="padding-right: 7px">
      <img style="width: 40px;height: 40px" [src]="'/assets/imagenes/departamento.png'">
    </a>
    <button>Log Out</button>
  </div>
</div>
<div>
  <br>
  <br>
</div>
<div style="padding-top: 30px;">
  <router-outlet></router-outlet>
</div>
