<div>
  <h4>Usuarios de la aplicacion</h4>
</div>
<div>
  <table>
    <tr>
      <th>Identificador</th>
      <th>Username</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Fecha Nacimiento</th>
    </tr>
    <tr *ngFor="let miembro of usuarios">
      <td>{{miembro.id}}</td>
      <td>{{miembro.username}}</td>
      <td>
        <div *ngIf="miembro.idPersona">
          {{miembro.idPersona.nombre}}
        </div>
      </td>
      <td>
        <div *ngIf="miembro.idPersona">
          {{miembro.idPersona.apellido}}
        </div>
      </td>
      <td>
        <div *ngIf="miembro.idPersona">
          {{miembro.idPersona.email}}
        </div>
      </td>
      <td>{{miembro.fechaNacimiento}}</td>
    </tr>
  </table>
</div>
